.App {
display: flex;
flex-direction: row;
justify-content: flex-start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  background-color: rgba(13,20,36,1);
  width: 150px;
  height: 130%;
  padding: 50px;
  color: rgba(158, 160, 179, 1);

}


.sidebar ul {
  list-style-type: none;
  padding: 15px;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar li:hover{
  color: #ffffff;
}

.logo{
  width: 180px;
height: 51.76px;
gap: 0px;
border-radius: 9px 0px 0px 0px;

}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.sidebar-label {
  margin-left: 10px;
}

.chat-feed-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 64px;
  gap: 590px; 
}

.Details {
  flex: 1;
  display: flex;
  align-items: center;
}

.Details, .Admin, .settings, .signout {
  margin-right:5px; /* Add some margin between elements */
}

.owner-card, .Admin {
  display: flex; /* Make owner card and Admin section display horizontally */
  align-items: center; /* Align elements vertically in the center */
}

.admin-img {
  width: 40px; /* Set image width to 40px */
  height: 40px; /* Set image height to 40px */
  border-radius: 50px;
}

.owner {
  background-color: rgba(252, 204, 85, 1); /* Set background color for Process Owner HOD */
  color: rgba(68, 72, 109, 1); /* Set text color for Process Owner HOD */
  padding: 5px 10px; /* Add some padding */
  width: 166px;
  height: 27px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border: none;
  gap: 10px;
  margin: 10px;
}

.Admin button {
  background-color: rgba(229, 83, 188, 1); /* Set background color for Admin button */
  color: white; /* Set text color for Admin button */
  border: none; /* Remove border from button */
  padding: 5px 10px; 
  cursor: pointer; 
  border-radius:10px;
}

.chat{
  color: rgba(138, 142, 166, 1);
  font-family: Inter;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 26.25px;
  text-align: left;
}

.signout {
  display: flex; /* Make the signout section a flexbox for icons and button */
  align-items: center; /* Align icons and button vertically in the center */
  margin-left:0;
}

.icons{
  margin-right:5px;
}


.chats-container{
  width:100%;
height:64px;
top: 89px;
left: 295px;
gap: 15px;
display: flex;
flex-wrap: wrap;

}

@media (max-width:768px) {
  .chats-container{
    flex-direction: column;
  }
}

.chatters-card{
width: 213px;
height: 64px;
border-radius: 10px 10px 0px 0px;
display: flex;
justify-content:flex-start;
}

.ellipse{
  width: 38px;
height: 38px;
border-radius: 25px;
background: rgba(238, 240, 245, 1);
border: 1px solid rgba(76, 98, 146, 0.1);
}

.ellipse>p{
  color: rgba(215, 175, 72, 1);
  text-align: center;
  margin-bottom:20px;
}

.chater-name{
font-family: Inter;
font-size: 18px;
font-weight: 600;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(15, 23, 41, 1);
margin-left: 0;
}

.message{
  width: Fixed 207px;
height: Fixed 64px;
padding: 8px 12px 8px 12px;
gap: 10px;
border-radius: 10px 10px 0px 0px;
background: rgba(15, 139, 253, 1);
display: flex;
align-items: center;
justify-content: center;
color: #ffffff;
}

.message>h1{
  font-size: 14px;
}


.single-chat-container,.conversation-container{
  width: 450px;
height: 1060px;
top: 178px;
left: 295px;
padding: 20px;
gap: 5px;
border-radius: 10px 0px 0px 0px;



}

.card-container{
  display: flex;

}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 200px;
height: 120px;

}

.cb-text {
  color: rgba(76, 98, 146, 1);
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chater-details {
  display: flex;
  flex-direction: column;
}

.chater-details>p{
  color: rgba(15, 23, 41, 1);
  
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.single-chat{
width: Fixed (410px)px;
height: 1,019.99px;
top: 20px;
left: 20px;
gap: 25px;
opacity: 0px;

}

.location{
  display: flex;
  justify-content: center;
  align-items: center;
}


.location > p{
  
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(103, 107, 137, 1);

}

.customer-text{
  font-family: Inter;
font-size: 14px;
font-weight: 400;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(103, 107, 137, 1);

}
.customer-card {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  border-radius: 5px;

}

.special{
  color:rgba(215, 175, 72, 1);
  width: 500;
  font-weight: bold;
}

.customer-id {
  color: #999898;
  
}

.customer-container{
  display: flex;
  flex-direction: column;
}

.add-button{
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-span{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.score{
  color: rgba(72, 215, 86, 1);
  width: 500;
  font-weight: bold;
}

.agent-button{
  width: 480px;
height: 74px;
padding: 13px 30px 13px 30px;
gap: 8px;
border-radius: 10px 0px 0px 0px;
color: #ffffff;
background-color: rgba(15, 139, 253, 1);
margin: 20px;
}

.bt-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.widget-button{
  background-color: transparent;
  width: 480px;
height: 74px;
padding: 13px 30px 13px 30px;
gap: 8px;
border-radius: 10px 0px 0px 0px;
}

.conversation-top{
width: 398px;
height:51px;
border: 0px 0px 1px 0px;
display: flex;
}

.conversation-top-card{
  width: 125px;
height: 51px;
padding: 15px 0px 0px 0px;
border: 0px 0px 1px 0px;

}

.conversation-top-card>h2{ 
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
display: flex;
margin-left: 0px;
}

.blue{
  border-bottom: 1px solid rgba(15, 139, 253, 1);
  color:  rgba(15, 139, 253, 1);
}

.gray{
  color: #999898;
}


 .chat-and-conversation-container{
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
 margin-top: 0;
 }

 .escalate-button{
  width:110px;
height:  37px;
color: #ffffff;
border-radius: 10px;
background: rgba(215, 72, 72, 1);
border: none;
font-size: medium;
font-weight: bold;
text-align:center;
margin-bottom: 10px;

 }


 .converstations{
width:100%;
height: 681px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
 }

 .conversation-attackments{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 
 
 .chatmessages-container{
  display: flex;
  flex-direction: column;
 }

 .chat-message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
}

.message-header {
  font-size: 12px;
  color: #888;
  display: flex;
}

.message-content {
  margin-top: 5px;
  
}

.sender-details{
  display: flex;
  flex-direction: column;
  
}

.timestap-delivery{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.sender-name{
  margin-left: 18px;
  color: black;
  font-size: 20px;
}

.timestamp{
  margin: 5px;
  font-size: 14px;
}

.delivery-method{
  margin: 5px;
  font-size: 14px;
}

.social-icon-contaniner{
  display: flex;
  flex-direction: column;
  width: 625px;
height:125px;

padding: 20px;
border: 1px 0px 0px 0px;
}

.icon-container{
  width: 236px;
height: 20px;
display: flex;
flex-direction: row;
justify-content: flex-start;

}

.icon{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-left: 10px;
  
}

.icons{
  color:rgba(15, 139, 253, 1);
}

.text{
  color:rgba(15, 139, 253, 1);
  margin-top: 0;
}

.input-container {
  display: flex;
  align-items: center;
  width:40%;
  padding: 20px;
  margin-top: 70px;
}

.input-container input {
  flex: 1; /* Make the input field take up most of the space */
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none; /* Remove right border */
  margin-top: 40px;
 
}

.input-container .fa-link {
  padding: 20px;
  border: 1px solid #ccc;
  border-left: none; /* Remove left border */
  cursor: pointer;

}

.link{
 
  margin-top: 30px;
}

.send-button{
  width:110px;
  height: 40px;
background-color:rgba(15, 139, 253, 1);
color: white;
border: none;
border-radius: 15px;
margin-top: 30px;
}

.right-side-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
  width: 100%;
}

.first-card{
  width:100%;
border-radius: 10px 0px 0px 0px;
display: flex;
align-items: center;
margin-top: 0;
}

.first-card>h2{
  margin: 4px;
}

.first-card>span{
  margin: 4px;
}

.main-card{
  display: flex;
  flex-direction: column;
}
.text-card {
  width:100%; /* Adjust width as needed */
  height: 200px;
  perspective: 1000px;
  position: relative;
}

/* ... other CSS styles ... */

.front, .back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.blurred-text {
  filter: blur(5px); /* Adjust blur amount as needed */
  position: absolute;
  
  background-color: rgba(68, 72, 109, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.greeting-section {
  position: relative;
  z-index: 1; /* Ensure the greeting section is above the blurred text */
  /* Other styles as before */
}


.input-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 380px;
  padding: 20px;
 
}

.input-containers input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  position: relative;
  top: 18px;
}

.input-containers>button {
  padding: 10px;
  border: 1px solid #ccc;
  position: absolute;
  top: 30px;
  background-color: #7a90f1;
  cursor: pointer;
  width: 100px;
  
}

.second-card{
width:100%;
top: 572px;
left: 1420px;
border-radius: 10px 0px 0px 0px;
background: rgba(255, 255, 255, 1);


}

.search-input{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}

.search{
  width: 240px;
  border: none;
}

.third-card{
 display: flex;
 flex-direction: column;
 width: 400px;
}

.button{
  width:140px;
  height: 40px;
  border-radius: 15px;
  margin: 20px;
  
}

.blue-button{
  background-color: rgba(15, 139, 253, 1);
  color: #ffffff;
}

.last-card{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.case-fav{
  display: flex;
  align-items: center;
}

.photo-card{
  width:410px;
height:48px;
padding: 12px 0px 0px 0px;
gap: 10px;
border-radius: 10px 0px 0px 0px;
border: 1px 0px 0px 0px;
display: flex;
align-items: center;
}


